body {
    margin: 0;
}
.logo-header {
    height: 20px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");    
}
.page-header {
    height: 100px;
    text-align: center;
    background: #765;
    
}
.page-header h1 {
    color: #fff;
    margin: 0px;
    padding: 0 30px;
    display: inline-block;
    line-height: 100px;
    font-family: "Trebuchet MS";
    font-size: 2.5em;
    text-shadow: 2px 2px black;
    background: rgba(255, 255, 255, .15);
    border-right: 2px dotted;
    border-left: 2px dotted;
}
.content {
    margin: auto;
    text-align: center;
    width: 1000px;
    height: 600px;
    font-size: 0;
}
.page-image {
    min-width: 700px;
    font-size: 0;
    display:inline-block;
    margin: 50px 20px;
    box-shadow: 0 0 25px gray;
    text-align: center;
    padding: 30px 30px 80px;   
    text-align: center;
}
.button { 
    display:inline-block;
    vertical-align:top;
    margin-top: 280px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: red;
}

.right-button {

}